Options -Indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Block direct access to includes/config
    RewriteRule ^(includes|config)/ - [F,L]
</IfModule>
